@{
    ViewBag.Title = "Quản lý Khách hàng";
}
@section PageToolBar {
    <a href="~/Customer/Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i>
        Bổ sung
    </a>
}
<div class="card mb-3">
    <div class="card-body">
        <form id="formSearch">
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       placeholder="Tên khách hàng..." autofocus />
                <button class="btn btn-info d-flex align-items-center">
                    <i class="bi bi-search me-1"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="mb-2 text-muted">
    Danh sách này có <strong>25</strong> khách hàng
</div>

<div class="card">
    <div class="card-body p-1">
        <table class="table table-bordered table-hover mb-0">
            <thead class="table-secondary">
                <tr>
                    <th>Tên khách hàng</th>
                    <th>Tên giao dịch</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Tỉnh / Thành</th>
                    <th class="text-center" style="width:120px;">Trạng thái</th>
                    <th class="text-center" style="width:100px;">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= 10; i++)
                {
                    <tr>
                        <td>Nguyễn Văn A</td>
                        <td>A Trading</td>
                        <td>0912345678</td>
                        <td>a@gmail.com</td>
                        <td>456 Nguyễn Huệ</td>
                        <td>Hà Nội</td>
                        <td class="text-center">
                            <span class="badge bg-success">Hoạt động</span>
                        </td>
                        <td class="text-center text-nowrap">
                            <a href="~/Customer/Edit/123" class="btn btn-sm btn-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="~/Customer/Delete/123" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                            <a href="~/Customer/ChangePassword/123" class="btn btn-sm btn-warning ms-2">
                                <i class="bi bi-key"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
        </ul>
    </div>
</div>
